body {
    background-color: #666666;
}

.box {
	border-style: solid;
	border-width: 12px;
	border-color: #999999;
	border-radius: 30px;
	padding: 10px;
	margin: 20px;
	color: white;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #999999;
}


#heading {
	margin: 0px auto; 
	height: 80px;
  width: 100%;
	color: white;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #999999;
	position: fixed;
	left: 0px;
	top: 0px;
	display: inline-block;
	border-bottom: 10px solid #666666;
	padding-left: 15px;
}

#social {
	float: right;
	position: relative;
	right: 50%;
	margin-top: -70px;
	margin-right: -102px;
}

#location {
	float: right;
	padding-right: 15px;
	margin-top: -70px;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #233140;
}

/* selected link */
a:active {
    color: #666666;
}

footer {
	background-color: #233140;
	width: 100%;
	left: 0px;
	position: absolute;
  float: center;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  text-align: center;

}